

/* import font from font folder*/
@import url(./fonts.css);

/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation */ 

.header_area {
    background-color: rgba(20, 30, 254, 0.1);
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 0rem 1rem 0 1rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1rem;
    color: var(--title-color);
}

/* for navigation buttons so that the higlighted after some time of hover*/
.header_area .main-menu .navbar-nav a{
    transition: ease-in-out;
    transition-delay: 0.5s;
}

.header_area .main-menu .navbar-nav .active a{
    /* background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    color: rgb(53, 0, 133);
    opacity: 1;
    transition: ease-in-out;
    transition-delay: 0.5s;
}

.header_area .main-menu .navbar-nav a:hover{
    /* background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    color: rgb(89, 0, 224);
    opacity: 1;
    transition: ease-in-out;
    transition-delay: 0.5s;
}


/* end navigation */ 


/* Start Banner Area*/

.site-main .site-banner{
    background: url(../images/banner/home-banner.png) no-repeat;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}
/* End Banner Area*/